body {
    background-color: black;
    color: white; /* optionnel : texte en blanc pour rester lisible */
    padding : 1em;
}

header {
    background-color: rgb(59, 102, 229);
    padding: 1em;
}

#h5-custom {
    color: rgb(0, 0, 0)
}

main {
    background-color: rgb(197, 237, 21);
    
    padding: 1em;
}

.div-custom {
    background-color: rgb(222, 90, 140);
}

footer {
    background-color: rgb(237, 21, 21);
    padding: 1em;
}

